h1 {
    color: black;
    font-size: 45px;
    background-color: blanchedalmond;
}
title{
    color: blue;
    font-size: 70px;
}
h1 {
    text-align: center;
}
p{
    font-size: 20px;
    background-color: blanchedalmond;

}
img{
    margin-left: 22%;
    
}
body{
    background-color: bisque;
}


